section(class="container podcast")
	h1 PODCAST APP
	div
		form(name="podcastForm", class="row")
			div(class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3")
				
				label País
				select(ng-model="params.pais", ng-options="p.value as p.name for p in pais", name="pais" required)
					option(value="") Selecciona
				span(ng-show="submitted && podcastForm.pais.$error.required", class="messagge") ¡Selecciona un país!
			
				label Número de items
				select(ng-model="params.numero", ng-options="i for i in items", name="numero" required) 
					option(value="") Selecciona
				span(ng-show="submitted && podcastForm.numero.$error.required", class="messagge") ¡Selecciona un número!
			div(class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3")
				label Género
				select(ng-model="params.genero", ng-options="g.value as g.name for g in genero", name="genero" required)
					option(value="") Selecciona
				span(ng-show="submitted && podcastForm.genero.$error.required", class="messagge") ¡Selecciona un genéro!

				label Contenido Explícito
				label Si
					<input type="radio" ng-model="params.contenido" value="true">
				label No
					<input type="radio" ng-model="params.contenido" value="false">


			button(type="submit", class="btn-botonn", name="busca", ng-click="getData(params); submitted=true" ui-sref="index.busqueda", required) Busca
	
	img(src="assets/images/loader.gif", class="loader", ng-if="podcastList.gather<0")

	ui-view