div
	article(ng-repeat="item in gather")
		h2 {{item.titulo}}

		img(class="imagen", ng-src="{{item.imagen}}", ng-click="getPodcast(item.url)", ui-sref="index.podcastList")
		
		p(class="artista") Artista : {{item.artista}}

		p(class="categoria") Categoria : {{item.categoria}}
